<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %>
    <link href="/css/detalle-del-producto.css" rel="stylesheet">
    <title>Detalle del producto</title>
</head>
<body>
  <%- include('partials/header.ejs') %>
   
      <main>
        <div class="main">
          <div class="contenedor-main">
            <section class="left">
            <div class="producto-nombre">
                <h3><%= producto.name%></h3>
                <span id="titulo-codigo">Codigo: </span><p id="codigo">MH30vb87M9l</p>
            </div>
              <div class="imagen-producto">
                  <img src="/img/<%= producto.image %>">
                </div>
            </section>
            <section class="right">
              <div class="producto-precio">
                <h3 id="precio">$<%= producto.price%></h3>
                <% if(producto.discount > 1){ %>
                <p id="descuento"><%= producto.discount %>% OFF</p>
                <% }else{producto.discount=""}%>
              </div>
              <div class="informacion-adicional">
                  <h2>Elegi tu forma de pago</h2>
                <form action="/" method="POST">
                    <select class="tarjetas">
                        <option value="">Tarjeta</option>
                        <option value="american-express">American Express</option>
                        <option value="cabal-debito">Cabal Debito</option>
                        <option value="master-card">MasterCard</option>
                        <option value="maestro">Maestro</option>
                        <option value="visa">Visa</option>
                    </select>
                    <select class="banco">
                        <option value="">Banco</option>
                        <option value="bbva-frances">BBVA Frances</option>
                        <option value="comafi">COMAFI</option>
                        <option value="patagonia">Patagonia</option>
                        <option value="santander-rio">Santander Rio</option>
                        <option value="tarjeta-naranja">Tarjeta Naranja</option>
                    </select>
                    <select class="cuotas">
                        <option value="">Cuotas</option>
                        <option value="1-cuotas-sin-interes">1 Cuota sin interes</option>
                        <option value="3-cuotas-sin-interes">3 Cuotas sin interes</option>
                        <option value="6-cuotas">6 Cuotas</option>
                        <option value="ahora-12">Ahora 12</option>
                        <option value="ahora-18">Ahora 18</option>
                    </select>
                </form>
                <div class="informacion-bottom">
                    <img src="/img/tarjetas.png">
                    <p id="precio-cuotas">12 x $6.666,67 sin interés</p>
                    <p id="precio-total">Precio total: $<%= producto.price %></p>
                    <p>CFT: 0% / TEA: 0% </p>
                </div>
              </div>
              <div class="boton-compra">
                <button type="submit">Agregar al carrito</button>
              </div>
            </section>
          </div>
          <section class="informacion">
          <div class="producto-descripcion">
              <h4 class="titular-descripcion">Descripcion</h4>
              <ul class="lista-descripcion">
                  <li>Alto: 60cm</li>
                  <li>Ancho: 98cm</li>
                  <li>Profundidad: 18cm</li>
                  <li>Garantía: 12 meses</li>
                  <li>Tipo de sonido: Estéreo</li>
                  <li>Puertos USB: No</li>
                  <li>HDMI: Sí</li>
              </ul>
          </div>
          <div class="especificaciones">
            <h4 id="titular-especificaciones">Especificaciones tecnica</h4>
            <div class="lista-de-especificaciones">
                <p class="gris">Modelo</p><p class="gris">UN32T4300AGCZB</p>
                <p>Marca</p><p>Samsung</p>
                <p class="gris">Origen</p><p class="gris">Argentina</p>
                <p>Cuotas sin interes</p><p>Hasta 12 cuotas</p>
                <p class="gris">Tipo TV</p><p class="gris">Smart TV</p>
                <p>Pantalla</p><p>32"</p>
                <p class="gris">Tipo de pantalla</p><p class="gris">OLED</p>
                <p>Resolución Máxima</p><p>4K</p>
                <p class="gris">Conexión</p><p class="gris">USB, HDMI, WI-FI</p>
                <p>Garantia de fábrica (meses)</p><p>12</p>
                <p class="gris">Accesorios</p><p class="gris">Manual / Control remoto</p>
            </div>
          </div>
          </section>
        </div>
      </main>
      
    <footer class="foot">
        <%- include('partials/footer.ejs') %>
    </footer>
    
</body>
</html>