<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %>
    <link href="/css/editar-usuario.css" rel="stylesheet">
    <title>Registro</title>
</head>
<body>
    <%- include('partials/header.ejs') %>
    
    <main class="main-register">
        <section class="registro">
            <h2>EDITAR USUARIO</h2>
        <form action="/usuario/<%= user.id%>/editar" method="POST" enctype="multipart/form-data">
        <div class="left-register">
            
                <input type="text" name="name" id="nameRegister" value="<%= user.name%>">
            
                <input type="text" name="lastName" id="apellidoRegister" value="<%= user.lastName%>">
            <div class="perfil">
                <label for="images">Foto de perfil:</label>
                <% if(user.image){ %>
                    <img id="imagePreview" src="/img/users/<%= user.image%>" alt="Preview">
                <%} %> 
                <input type="file" name="images" id="imagenes" accept=".jpg , .png" multiple>
            </div>
                <input type="email" name="email" id="emailRegister" value="<%= user.email %>">
            
                <input type="password" name="password" id="passwordRegister" placeholder="Contraseña nueva">

                <button type="submit" id="boton-registro">Guardar</button>
        </div>
    </form>
    </section>
    </main>
    <footer  class="foot">
        <%- include('partials/footer.ejs') %>
    </footer>
</body>
</html>