<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/head.ejs') %>
  <link href="/css/index.css" rel="stylesheet">
    <title>Inicio</title>
</head> 
<body>
<%- include('partials/header.ejs') %>

 <main>
   <section class="ofertas">
    <h3 id="TituloOferta">Ofertas</h3>
<% productos.forEach(productos=>{ %>
  <% if(productos.discount > 0){ %>
    <a href="/productos/<%= productos.id %>"> 
      <article class="productos">
         <div class="item">
           <img src="/img/<%= productos.image %>">
         </div>
         <div class="detalle">
           <p id="precio">$<%= productos.price %></p> 
           <p id="descuento"><%= productos.discount %>% OFF</p>
           <p id="producto-nombre"><%= productos.name %></p>
         </div>
      </article>
    </a>
  <% } %>
<% }) %>

   </section>
 </main>
 
   <%- include('partials/footer.ejs') %>

</body>
</html>