<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/head.ejs') %>
  <link href="/css/index.css" rel="stylesheet">
    <title>Inicio</title>
</head> 
<body>
<%- include('partials/header.ejs') %>

 <main>
   <div class="banner">
     <img src="/img/banner1.png">
   </div>
   <section class="ofertas">
    <h3 id="TituloOferta">Ofertas</h3>
<% productos.forEach(productos=>{ %>
  <% if(productos.Descuento > 0){ %>
    <a href="/productos/<%= productos.ID_Producto %>"> 
      <article class="productos">
         <div class="item">
           <img src="/img/products/<%= productos.Imagen %>">
         </div>
         <div class="detalle">
           <p id="precio">$<%= productos.Precio %></p> 
           <p id="descuento"><%= productos.Descuento %>% OFF</p>
           <p id="producto-nombre"><%= productos.Nombre %></p>
         </div>
      </article>
    </a>
  <% } %>
<% }) %>

   </section>
 </main>
 
   <%- include('partials/footer.ejs') %>

</body>
</html>