<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %>
    <link href="/css/listado.css" rel="stylesheet">
    <title>Listado de productos</title>
</head>
<body>
    <%- include('partials/header.ejs') %>
    <main>
        <% productos.forEach(productos=>{ %>
        <a id="link-producto" href="/productos/detalle/<%= productos.id %>">
            <article class="productos">
            <div class="item">
                <img src="/img/<%= productos.image%>">
            </div>
            <div class="detalle">
                <p id="precio">$<%= productos.price %></p>
                
                <p id="descuento"><%= productos.discount%>% OFF</p>
                
                <p id="producto-nombre"><%= productos.name%></p>
            </div>
        </article>
        </a>
        <% }) %>
    </main>
    <%- include('partials/footer.ejs') %>
</body>
</html>