<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %>
    <link href="/css/listado-usuarios.css" rel="stylesheet">
    <title>Listado de usuarios</title>
</head>
<body>
    <%- include('partials/header.ejs') %>
    <main>
        <% users.forEach((users) =>{ %>
        <a id="link-usuario" href="/usuario/<%= users.id %>">
            <article class="usuarios">
            <img src="/img/users/<%= users.image %>" alt="">
            <h3><strong>Nombre: </strong><%= users.name %></h3>
            <h3><strong>Apellido: </strong><%= users.lastName %></h3>
            <h3><strong>Email: </strong><%= users.email %></h3>
        </article>
        </a>
        <% }) %>
    </main>
    <%- include('partials/footer.ejs') %>
</body>
</html>