<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %>
    <link href="/css/login.css" rel="stylesheet" >
    <title>Ingreso</title>
</head>
<body>
    <%- include('partials/header.ejs') %>
   
    <main class="main-login">
        <section class="ingreso">
        <h2>INGRESO</h2>

        <form action="/usuario/login" method="POST">
            <div class="left-login">
                <input type="email" name="email" id="emailLogin" placeholder="Correo electrónico">
                <% if(locals.errors){ %>
                    <% if(errors.login){ %>
                        <p class="errorMsg"><%= errors.login.msg%></p>
                    <%} %> 
                <%} %> 
                <input type="password" name="password" id="passwordLogin" placeholder="Contraseña">
                <% if(locals.errors){ %>
                    <% if(errors.login){ %>
                        <p class="errorMsg"><%= errors.login.msg%></p>
                    <%} %> 
                <%} %> 
            <div class="checkbox">
                <input type="checkbox" value="guardar-inicio" id="guardar-inicio" name="recordar"><label for="guardar-inicio" id="label1">Recordar inicio de sesión</label>
            </div>
                <button type="submit" id="boton-ingreso">Ingresar</button>
            </div>
        </form>
        <div class="right-login">
            <div class="ingreso-fac-go">
            <p>O ingresar con:</p>
                <a href="#" id="facebook-ingreso"><i class="fab fa-facebook-f"></i></a>
                <a href="#" id="google-ingreso"><i class="fab fa-google"></i></a>
            </div>
            <div class="registrarme">
            <label for="registerBtn">¿No tenés una cuenta?</label>
                <a href="/registro"><button id="registerBtn">Registrarme</button></a>
            </div>
        </div>
        </div>
        </div>
        </section>
    </main>
    <footer class="foot">
        <%- include('partials/footer.ejs') %>
      </footer>
</body>
</html>