<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %>
    <link href="/css/usuario.css" rel="stylesheet">
    <title>Registro</title>
</head>
<body>
    <%- include('partials/header.ejs') %>
    
    <main class="main-register">
        <section class="registro">
            <h2>Detalle de usuario</h2>
        <form action="/registro" method="POST">
        <div class="left-register">
            
                <input type="text" name="name" id="nameRegister" value="<%= users.name%>">
            
                <input type="text" name="lastName" id="apellidoRegister" value="<%= users.lastName%>">

                <label for="images">Foto de perfil:</label>
                <input type="file" name="images" id="imagenes" value="<%= users.images%>">
            
                <input type="email" name="email" id="emailRegister" value="<%= users.email%>">
            
                <input type="password" name="password" id="passwordRegister" placeholder="Contraseña">

                <button type="submit" id="boton-registro">Editar</button>
        </div>
        <div class="right-register">
                <label for="boton-ingreso">¿Ya tenés una cuenta?</label>
                <button id="boton-ingreso">Ingresar</button>
        </div>
    </form>
    </section>
    </main>
    <footer  class="foot">
        <%- include('partials/footer.ejs') %>
    </footer>
</body>
</html>